[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/asmjit"]
	path = deps/asmjit
	url = https://github.com/asmjit/asmjit
[submodule "deps/udis86"]
	path = deps/udis86
	url = https://github.com/vmt/udis86
[submodule "deps/imgui-notify"]
	path = deps/imgui-notify
	url = https://github.com/patrickcjk/imgui-notify
